@model WebShoppingMall.Models.TagProduct

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TagProduct</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.TagId" class="btn btn-primary">
        <i class="far fa-edit"></i>
    </a> 
    <a asp-action="Index" class="btn btn-success">
        <i class="fas fa-undo-alt"></i>
    </a>
</div>
